# Git
.git
.gitignore

# Node.js
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Build artifacts
dist
build

# # Environment files
# .env
# .env.*

# IDE files
.idea
.vscode
*.swp
*.swo

# Testing and docs
coverage
test
docs
README.md

# Logs
logs
*.log

# Docker
Dockerfile
docker-compose.yml
.dockerignore 

docs/